@import url(//db.onlinewebfonts.com/c/32475be7e7241b887c54d2aee5876af0?family=Work+Sans);

.User {
    display: flex;
    flex-direction: row;
    width: 575px;
    height: 131px;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 10px;
}

.UserData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    margin-left: 24px;
    /* padding-bottom: 21px; */
    /* margin-bottom: 55.6 px; */
}

.HeaderUser {
width: 218px;
height: 23px;
margin-top: -1px;
margin-bottom: -16.6px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
letter-spacing: -0.02em;

color: #121212;
}

.DateUser {
width: 107px;
height: 18px;
margin-top: 20px;
/* margin-left: -10px; */
text-align: left;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;

color: #999999;
}

.AddressUser {
    width: 271px;
    height: 15px;
    margin: 0;
    margin-top: 2px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    
    color: #121212;
}

.MailUser {
    width: 271px;
    height: 15px;
    margin: 0;
    margin-top: 2px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;

    color: #121212;
}

.EditButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 141px;
    height: 48px;
    margin-top: 48px;

    background: #52228C;
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #FFFFFF;
}